<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="lay.css" />
  </head>
  <body>
    <!-- header -->
    <header class="header-area">
      <div class="main-container">
        <div class="navbar">
          <div class="logo">SCHOLAR</div>
          <div class="search-bar">
            <input type="text" placeholder="Type Something" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <nav>
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Courses</a>
            <a href="#">Team</a>
            <a href="#">Events</a>
            <a href="#">Register Now!</a>
          </nav>
        </div>
      </div>
    </header>

    <!-- banner -->
    <section class="banner-section" id="banner-section">
      <div class="swiper mySwiperQuote main-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
           
            <div class="hero">
              <div class="content">
                <div>
                  <span class="tag">OUR COURSES</span>

                </div>
                <h2>With Scholar Teachers, Everything Is Easier</h2>
                <p>
                  Scholar is a free CSS template designed by TemplateMo for online
                  educational related websites. This layout is based on the famous
                  Bootstrap v5.3.0 framework.
                </p>
                <div class="buttons">
                  <div>
                    <a href="#" class="button primary">Request Demo</a>

                  </div>
                  <i class="fa-solid fa-play"></i>
                  <a href="#" class="secondary">What's Scholar?</a>
                </div>
              </div>
            </div>
        
           
          </div>
          <div class="swiper-slide">
           
            <div class="hero">
              <div class="content">
                <div>
                  <span class="tag">OUR COURSES</span>

                </div>
                <h2>With Scholar Teachers, Everything Is Easier</h2>
                <p>
                  Scholar is a free CSS template designed by TemplateMo for online
                  educational related websites. This layout is based on the famous
                  Bootstrap v5.3.0 framework.
                </p>
                <div class="buttons">
                  <div>
                    <a href="#" class="button primary">Request Demo</a>

                  </div>
                  <i class="fa-solid fa-play"></i>
                  <a href="#" class="secondary">What's Scholar?</a>
                </div>
              </div>
            </div>
        
           
          </div>

          <div class="swiper-slide">
           
            <div class="hero">
              <div class="content">
                <div>
                  <span class="tag">OUR COURSES</span>

                </div>
                <h2>With Scholar Teachers, Everything Is Easier</h2>
                <p>
                  Scholar is a free CSS template designed by TemplateMo for online
                  educational related websites. This layout is based on the famous
                  Bootstrap v5.3.0 framework.
                </p>
                <div class="buttons">
                  <div>
                    <a href="#" class="button primary">Request Demo</a>

                  </div>
                  <i class="fa-solid fa-play"></i>
                  <a href="#" class="secondary">What's Scholar?</a>
                </div>
              </div>
            </div>
        
           
          </div>
            
          </div>
        </div>
      </div>

    
    </section>

    <!-- services-section -->
    <section class="services-section" id="services-section">
      <div class="main-container">
        <div class="container">
          <div class="card">
              <div class="icon">
                  <img src="../images/service-01.png" alt="Online Degrees">
              </div>
              <div class="card-content">
                <h4>Online Degrees</h4>
               <p>Whenever you need free templates in HTML CSS, you just remember TemplateMo website.</p>
               <a href="#" class="button">Read More</a>
              </div>
          </div>
          <div class="card">
            <div class="icon">
                <img src="../images/service-02.png" alt="Online Degrees">
            </div>
            <div class="card-content">
              <h4>Online Degrees</h4>
             <p>Whenever you need free templates in HTML CSS, you just remember TemplateMo website.</p>
             <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="card">
          <div class="icon">
              <img src="../images/service-03.png" alt="Online Degrees">
          </div>
          <div class="card-content">
            <h4>Online Degrees</h4>
           <p>Whenever you need free templates in HTML CSS, you just remember TemplateMo website.</p>
           <a href="#" class="button">Read More</a>
          </div>
      </div>
      </div>
      </div>

    </section>


    <!-- about-us -->
    <section class="about-section" id="about-section">
      <div class="container">
        <div class="main-container">
          <div class="faq-section">
            <div class="accordian">
              <div class="contentBx">
                <div class="label"><h2>
                  Where shall we begin?
                </h2></div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis
                    totam fugiat sed veniam optio? Perspiciatis necessitatibus quibusdam
                    similique fugit a, autem iste at repellendus molestias placeat eius
                    sit quos.
                  </p>
                </div>
              </div>
        
              <div class="contentBx">
                <div class="label"><h2>How do we work together?</h2> </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis
                    totam fugiat sed veniam optio? Perspiciatis necessitatibus quibusdam
                    similique fugit a, autem iste at repellendus molestias placeat eius
                    sit quos.
                  </p>
                </div>
              </div>
        
              <div class="contentBx">
                <div class="label"><h2>Why SCHOLAR is the best?</h2></div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis
                    totam fugiat sed veniam optio? Perspiciatis necessitatibus quibusdam
                    similique fugit a, autem iste at repellendus molestias placeat eius
                    sit quos.
                  </p>
                </div>
              </div>
        
              <div class="contentBx">
                <div class="label"><h2>Do we get the best support?</h2></div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nobis
                    totam fugiat sed veniam optio? Perspiciatis necessitatibus quibusdam
                    similique fugit a, autem iste at repellendus molestias placeat eius
                    sit quos.
                  </p>
                </div>
              </div>
        
            
            </div>
          </div>
          <div class="right-about-section">
            <div class="section-heading">
              <h6>About Us</h6>
              <h2>What make us the best academy online?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravid risus commodo.</p>
              <div class="main-button">
                <a href="#">Discover More</a>
              </div>
            </div>
          </div>
      </div>

      </div>

    </section>

    <!-- latest-courses -->
    <section class="courses-section" id="courses-section">
      <div class="main-container">
        <div class="section-heading">
          <h6>Latest Courses</h6>
          <h2>Latest Courses</h2>
        </div>
        <div class="gallery">
          <div class="container">
            <div class="row">
              <div class="gallery-filter">
                <span class="filter-item active" data-filter="all">show all</span>
                <span class="filter-item" data-filter="shoe">webdesign</span>
                <span class="filter-item" data-filter="headphone"
                  >development</span
                >
                <span class="filter-item" data-filter="camera">word-press</span>
              </div>
            </div>

            <!-- img -->
            <div class="row">
              <div class="gallery-item shoe">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">WEBDESIGN</div>
                    <div class="price"><span>
                      $160
                    </span></div>
                    <img
                      src="../images/course-01.jpg"
                      alt="Learn Web Design"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>Stella Blair</h3>
                      <p>Learn Web Design</p>
                    </div>
                  </div>
                
                </div>
              </div>

              <div class="gallery-item headphone">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">DEVELOPMENT</div>
                    <div class="price">$340</div>
                    <img
                      src="../images/course-02.jpg"
                      alt="Web Development Tips"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>Cindy Walker</h3>
                      <p>Web Development Tips</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gallery-item camera">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">WORDPRESS</div>
                    <div class="price">$640</div>
                    <img
                      src="../images/course-03.jpg"
                      alt="Latest Web Trends"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>David Hutson</h3>
                      <p>Latest Web Trends</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gallery-item headphone">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">WORDPRESS</div>
                    <div class="price">$320</div>
                    <img
                      src="../images/course-05.jpg"
                      alt="Be a WordPress Master"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>Sophia Rose</h3>
                      <p>Be a WordPress Master</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gallery-item camera">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">DEVELOPMENT</div>
                    <div class="price">$450</div>
                    <img
                      src="../images/course-04.jpg"
                      alt="Online Learning Steps"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>Stella Blair</h3>
                      <p>Online Learning Steps</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gallery-item headphone">
                <div class="gallery-item-inner">
                  <div class="card">
                    <div class="tag">WEBDESIGN</div>
                    <div class="price">$240</div>
                    <img
                      src="../images/course-06.jpg"
                      alt="Full Stack Developer"
                      height="269px"
                      width="356px"
                    />
                    <div class="content-description">
                      <h3>David Hutson</h3>
                      <p>Full Stack Developer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- fun-facts -->
    <section class="funfact-section" id="funfact-section">
      <div class="main-container">
        <div class="row">
          <div class="counter">
            <h2 class="count-number">150 <i class="fa-solid fa-plus"></i></h2>
             <p class="count-text ">Happy Students</p>
          </div>

          <div class="counter">
            <h2 class="count-number">150 <i class="fa-solid fa-plus"></i></h2>
             <p class="count-text ">Happy Students</p>
          </div>

          <div class="counter">
            <h2 class="count-number">150 <i class="fa-solid fa-plus"></i></h2>
             <p class="count-text ">Happy Students</p>
          </div>

          <div class="counter">
            <h2 class="count-number">150 <i class="fa-solid fa-plus"></i></h2>
             <p class="count-text ">Happy Students</p>
          </div>
        </div>
      </div>
    </section>

    <!-- teams -section -->
    <section class="teams-section" id="teams-section">
     <div class="main-container">
      <div class="container">
        <div class="teacher">
            <img src="../images/member-01.jpg" alt="">
           <div class="teacher-content">
            <span>UX Teacher</span>

            <h4>Sophia Rose</h4>
            <div class="icons">
             <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-facebook"></i>
            </div>
           </div>
           
            
           
        </div>
        <div class="teacher">
          <img src="../images/member-02.jpg" alt="">
         <div class="teacher-content">
          <span>UX Teacher</span>

          <h4>Sophia Rose</h4>
          <div class="icons">
           <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-facebook"></i>
          </div>
         </div>
         
          
         
      </div>
      <div class="teacher">
        <img src="../images/member-03.jpg" alt="">
       <div class="teacher-content">
        <span>UX Teacher</span>

        <h4>Sophia Rose</h4>
        <div class="icons">
         <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-facebook"></i>
        </div>
       </div>
       
        
       
    </div>
    <div class="teacher">
      <img src="../images/member-04.jpg" alt="">
     <div class="teacher-content">
      <span>UX Teacher</span>

      <h4>Sophia Rose</h4>
      <div class="icons">
       <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-facebook"></i>
      </div>
     </div>
     
      
     
  </div>
      </div>
     </div>
   </section>

    <!-- testimonial-section -->

    <section class="testimony-section" id="testimony-section">
    
      <div class="main-container">
          
        <div class="customer">
          <div class="testimonial">
            <p>“Scholar is free website template provided by TemplateMo for educational related websites. This CSS layout is based on Bootstrap v5.3.0 framework.”</p>
            <div class="profile">
                <img src="../images/testimonial-author.jpg" alt="Stella Blair">
                <div>
                    <span class="name">Digital Animator</span>
                    <h4 class="title">Stella Blair</h4>
                </div>
            </div>
        </div>
        </div>         

        <div class="testimony-section-heading">
          <h6>TESTIMONIALS
          </h6>
          <h2>What They Say <br> About Us?</h2>

          <p>You can search free CSS templates on Google using different keywords such as templatemo portfolio, templatemo gallery, templatemo blue color, etc.</p>          
        </div>
      </div>

     

    </section>


    <!-- events -->
    <section class="events-section" id="events-section">
      <div class="main-container">
        <div class="schedule">
          <div>
            <h6>shedule</h6>
           <h2>Upcoming Events</h2>
          </div>
          <div class="event">
              <div class="event-details">
                <div class="image">
                  <img src="../images/event-01.jpg" alt="">
                </div>
                <div class="event-items">
                  <ul>
                    <li>
                      <span class="category">Web Design</span>
                      <h4>UI Best Practices</h4>
                    </li>
                    <li>
                      <span class="date">Date:</span>
                      <h6 class="year">16 Feb 2036</h6>
                    </li>
                    <li>
                      <span class="date">Duration:</span>
                      <h6 class="year">22 Hours</h6>
                    </li>
                    <li>
                      <span class="date">Price:</span>
                      <h6 class="year">$120</h6>
                    </li>
                    <a href="#"><i class="fa fa-angle-right"></i></a>

                  </ul>
                </div>

                  
              </div>

              <div class="event-details">
                <div class="image">
                  <img src="../images/event-02.jpg" alt="">
                </div>
                <div class="event-items">
                  <ul>
                    <li>
                      <span class="category">Web Design</span>
                      <h4>UI Best Practices</h4>
                    </li>
                    <li>
                      <span class="date">Date:</span>
                      <h6 class="year">16 Feb 2036</h6>
                    </li>
                    <li>
                      <span class="date">Duration:</span>
                      <h6 class="year">22 Hours</h6>
                    </li>
                    <li>
                      <span class="date">Price:</span>
                      <h6 class="year">$120</h6>
                    </li>
                    <a href="#"><i class="fa fa-angle-right"></i></a>

                  </ul>
                </div>

                  
              </div>

              <div class="event-details">
                <div class="image">
                  <img src="../images/event-03.jpg" alt="">
                </div>
                <div class="event-items">
                  <ul>
                    <li>
                      <span class="category">Web Design</span>
                      <h4>UI Best Practices</h4>
                    </li>
                    <li>
                      <span class="date">Date:</span>
                      <h6 class="year">16 Feb 2036</h6>
                    </li>
                    <li>
                      <span class="date">Duration:</span>
                      <h6 class="year">22 Hours</h6>
                    </li>
                    <li>
                      <span class="date">Price:</span>
                      <h6 class="year">$120</h6>
                    </li>
                    <a href="#"><i class="fa fa-angle-right"></i></a>

                  </ul>
                </div>

                  
              </div>
          </div>
         
      </div>
      </div>

    </section>

    <!--contact -->
    <section class="contact-section" id="contact-section">
    
      <div class="main-container">
        <div class="contact-section-content">
          <h6>CONTACT US</h6>
          <h2>Feel Free To Contact Us Anytime</h2>
          <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends</p>
          <div class="offer">
            <span class="offer-fifty">off<br><em>50%</em></span>            <div class="details">
            <h6>Valide: <em>24 April 2036</em></h6>
                <h4>Special Offer  50% <br> OFF!</h4>
            </div>
            <div>
              
              <a href=""><i class="fa-solid fa-greater-than"></i></a>
            </div>
        </div>
      </div>
          
        <div class="customer">
          <div class="right-section">
            <input type="text" id="myInput" placeholder="Your Name..." />
            <input type="email" id="myInput" placeholder="Your E-mail..." />
            <textarea id="myInput" placeholder="Your Message"></textarea>
            <button>Send Message Now</button>
        </div>
       
        
      </div>

     

    </section>


    <!-- footer -->

    <footer>
      <div class="main-container">
        <div class="para">
          <p>Copyright © 2036 Scholar Organization. All rights reserved. &nbsp;&nbsp;&nbsp; Design: <a href="https://templatemo.com" rel="nofollow" target="_blank">TemplateMo</a> Distribution: <a href="https://themewagon.com" rel="nofollow" target="_blank">ThemeWagon</a></p>
        </div>
      </div>

    </footer>


  


   
    
    








  


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

     <!-- banner -->
    <script>
      var swiper = new Swiper(".mySwiperQuote ", {
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: false,
        autoplay: {
          delay: 2500,
          disableOnInteration: false,
          pauseOnMouseEnter: true,
        },
        slidesPerGroup: 1,
        loop: false,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },

        
      });
    </script>

    <!-- accordian -->
    <script>
      const accordian = document.getElementsByClassName('contentBx');

      for(i=0; i<accordian.length; i++){
          accordian[i].addEventListener("click", function(){
              this.classList.toggle("active")
          })
      }
    </script>


  <!-- filter -->
  <script>
    const filterContainer = document.querySelector(".gallery-filter"),
      galleryItems = document.querySelectorAll(".gallery-item");

    // Log the gallery items to ensure they are correctly selected
    console.log(galleryItems);

    filterContainer.addEventListener("click", (event) => {
      if (event.target.classList.contains("filter-item")) {
        // Deactivate the existing active class
        filterContainer.querySelector(".active").classList.remove("active");
        // Activate the clicked filter item
        event.target.classList.add("active");

        const filterValue = event.target.getAttribute("data-filter");

        // Iterate over each gallery item
        galleryItems.forEach((item) => {
          // Check if the item should be shown
          if (item.classList.contains(filterValue) || filterValue === "all") {
            item.classList.remove("hide");
            item.classList.add("show");
          } else {
            item.classList.remove("show");
            item.classList.add("hide");
          }
        });
      }
    });
  </script>

    
  
  
    
  </body>
  
</html>
